.MacroList{
    position:absolute;
    right: 10px;
    top: 260px;
}

.AverageSession{
    position:absolute;
    left: 200px;
    top: 600px;
}

.PerformanceGraph{
    position:absolute;
    left: 350px;
    top: 600px;
}

.kpiGraph{
    position:absolute;
    left: 700px;
    top: 600px;
}