.PageContent{
    width: 100%;
}

.MacroList{
    position:absolute;
    right: 10px;
    top: 180px;
}
.GraphList{
    position:absolute;
    top: 183px;
    left: 85px;
    display: flex;
    max-width: 900px;
    flex-wrap: wrap;
}
.AverageSession{

    left: 200px;
    top: 600px;
}


.ThreeGraphs{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 725px;
    margin-top: 25px;
}

.PerformanceGraph{

    left: 550px;
    top: 600px;
}

.kpiGraph{

    left: 700px;
    top: 600px;
}

.DailyActivities{

    left: 200px;
    top: 250px; 
}
