.dailyActivityText{
    font-size: 18px;
    font-weight: bold;
}

.toolTipActivityDaily{
    background-color : #E60000;
    text-align: center;
    color: white;
    padding: 7px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.barCharts{
    background-color: #FBFBFB;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px #00000005;
}


