.MacroCard{
    width:200px;
    height: 90px;
    display: flex;
    flex-direction: row;
    background-color: #FBFBFB;

    box-shadow: 0px 2px 4px 0px #00000005;
    border-radius: 5px;
    margin-bottom: 52px;
}

.MacoInfosImg img{
    height: 60px;
    width: 60px;
    padding: 15px;
}
.MacoInfosImg{
    display:flex;
    justify-content:center;
}
.MacroValue{
    font-size: 20px;
    color: #282D30;
    font-weight: bold;
    margin-bottom: -6px;
}

.MacroName{
    color: #74798C;
    font-size: 14px;
    font-weight: 500;
}

.MacoInfos{
    padding-top: 2px;
}