.LineChart1 {
    background-color:  #FF0000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}

/* .LineChart2{
    position: absolute;
    background-color: black;
    opacity: 0.3;
    height: 250px;
    width: 260px;
    z-index: 10;
    border-radius: 5px;
} */



.dataNaming{
    background-color: white;
}

.toolTipAvgAct{
    background-color: white;
    padding: 5px;
    font-size: 10px;

    font-family: 'Roboto', sans-serif;
}

.objectifTitle{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}